body{
    background-color: #C9E8FD;
}
h1{
    color: #4E4466;
    text-align: center;
}

header{
    width: 100%;
    background-color: #526D85;
}

.logo{
    color: black;
    text-align: center;
    font-size: 1.4em;
}

nav{
    color: black;
    text-align: center;
    font-size: 1.4em;
}

.banner{
    width: 100%;
}

.container{
    background-color: #B8ACD1;
    width: 80%;
    margin: auto;
}

footer{
    background-color: #E2D5F1;
    color: black;
    font-size: 1.3em;
    text-align: center;
}
.biog {
    width: 100%;
}